@font-face {
  font-family: "Harmonia Sans Pro Cyr - Black";
  font-style: normal;
  font-weight: 400;
  src: local("Harmonia Sans Pro Cyr - Black"), local("HarmoniaSansProCyr-Black"), url("../fonts/HarmoniaSansProCyr-Black.woff2") format("woff2"), url("../fonts/HarmoniaSansProCyr-Black.woff") format("woff"), url("../fonts/HarmoniaSansProCyr-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Harmonia Sans Pro Cyr - Bold";
  font-weight: 400;
  font-style: normal;
  src: local("HarmoniaSansProCyr-Bold"), local("Harmonia Sans Pro Cyr - Bold"), url("../fonts/HarmoniaSansProCyr-Bold.woff2") format("woff2"), url("../fonts/HarmoniaSansProCyr-Bold.woff") format("woff"), url("../fonts/HarmoniaSansProCyr-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Harmonia Sans Pro Cyr - Light";
  font-weight: 300;
  font-style: normal;
  src: local("HarmoniaSansProCyr-Light"), local("Harmonia Sans Pro Cyr - Light"), url("../fonts/HarmoniaSansProCyr-Light.woff2") format("woff2"), url("../fonts/HarmoniaSansProCyr-Light.woff") format("woff"), url("../fonts/HarmoniaSansProCyr-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Harmonia Sans Pro Cyr - Regular";
  font-weight: 400;
  font-style: normal;
  src: local("HarmoniaSansProCyr-Regular"), local("Harmonia Sans Pro Cyr - Regular"), url("../fonts/HarmoniaSansProCyr-Regular.woff2") format("woff2"), url("../fonts/HarmoniaSansProCyr-Regular.woff") format("woff"), url("../fonts/HarmoniaSansProCyr-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Harmonia Sans Pro Cyr - SemiBd";
  font-weight: 600;
  font-style: normal;
  src: local("HarmoniaSansProCyr-SemiBd"), local("Harmonia Sans Pro Cyr - SemiBd"), url("../fonts/HarmoniaSansProCyr-SemiBd.woff2") format("woff2"), url("../fonts/HarmoniaSansProCyr-SemiBd.woff") format("woff"), url("../fonts/HarmoniaSansProCyr-SemiBd.ttf") format("truetype");
}
.hovered-orange:hover {
  fill: #ff5912;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.current {
  color: #ff5912 !important;
}

.icon-path {
  fill: #34404b;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-header__socials {
  min-width: 100px;
  display: flex;
  justify-content: space-between;
}

.main-header__navbar {
  min-height: 85px;
  width: 1280px;
  padding: 20px 40px;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: #fff;
  border-bottom: 1px solid rgba(230, 232, 235, 0.5);
}

/*@media(min-width:1000px) {
	.main-header {
		background-image: url("../img/Product_1.png");
		background-repeat: no-repeat;
		background-size: 144px auto;
		background-position: center center;
	}

	@media(min-resolution:144dpi),
	(min-resolution:1.5dppx) {
		.main-header {
			background-image: url("../img/Product_1@2x.png");
		}
	}
}*/
.contacts__wrapper {
  padding: 20px 40px;
  width: 1280px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(230, 232, 235, 0.5);
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background-color: #fff;
}

.contacts__container {
  min-width: 255px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts__mail-icon {
  width: 17px;
  height: 17px;
  position: absolute;
  left: 0;
  top: -3px;
}

.contacts__link {
  position: relative;
  padding-left: 27px;
  color: #34404b;
  font-family: "Harmonia Sans Pro Cyr - Regular", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 12px;
  font-size: 12px;
  text-decoration: none;
}
.contacts__link:hover .icon-path {
  fill: #ff5912;
}
.contacts__link:active {
  color: #c53b00;
}
.contacts__link:hover {
  text-decoration: underline;
  color: #ff5912;
}

.contacts__phone-icon {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 0;
  top: -2px;
}

.socials__link {
  display: block;
  width: 20px;
  height: 20px;
  text-align: center;
}
.socials__link:hover .icon-path {
  fill: #ff5912;
}

.navbar__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__item {
  margin-right: 45px;
}
.navbar__item--user {
  margin-right: 0;
  margin-left: auto;
}

.navbar__link {
  font-family: "Harmonia Sans Pro Cyr - Regular", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 16px;
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  color: #34404b;
}
.navbar__link--logo:active {
  opacity: 0.7;
}
.navbar__link:hover {
  color: #ff5912;
}
.navbar__link:active {
  color: #c53b00;
}

.user {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: "Harmonia Sans Pro Cyr - Regular", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 30px;
  font-size: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 110px;
  margin-left: auto;
}

.user__search-submit,
.user__cart-btn {
  box-shadow: none;
  background-color: transparent;
  outline: 0;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
}
.user__search-submit:hover .icon-path,
.user__cart-btn:hover .icon-path {
  fill: #ff5912;
}

.user__cart-btn {
  position: relative;
}
.user__cart-btn::after {
  content: "5";
  width: 18px;
  height: 18px;
  background-color: #ff5912;
  display: block;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  border-radius: 50%;
  line-height: 18px;
  top: -21px;
}

.user__link:hover .icon-path {
  fill: #ff5912;
}

.promo__inner {
  width: 570px;
  margin-left: 100px;
  position: relative;
}

.promo__carousel-inner {
  height: 649px;
  max-width: 1280px;
  min-width: 950px;
  margin: 0 auto;
}

.promo__title {
  min-height: 37px;
  color: #ff5912;
  font-family: "Harmonia Sans Pro Cyr - Black", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 70px;
  font-size: 52px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.promo__stuff {
  font-family: "Harmonia Sans Pro Cyr - SemiBd", Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 30px;
  font-size: 18px;
  color: #3c4751;
  padding: 0;
  margin: 0;
}

.promo__text {
  font-family: "Harmonia Sans Pro Cyr - Regular", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 30px;
  font-size: 16px;
  color: #495662;
  padding: 0;
  margin: 0;
}

.promo__img {
  width: 798px;
  height: 649px;
  position: absolute;
  right: 0;
  top: 0;
}

.promo__carousel-item {
  align-items: center;
  height: 649px;
}

.promo__carousel-item.active {
  align-items: center;
  display: flex;
  height: 649px;
}

.promo__container-price {
  font-family: "Harmonia Sans Pro Cyr - SemiBd", Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 23px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  color: #34404b;
  min-width: 95px;
  max-width: 100px;
  margin: 0;
  padding: 0;
  margin-top: 40px;
}

.promo__price-value,
.promo__price-termin {
  display: block;
  padding: 0;
  margin: 0;
  margin-right: 7px;
}

.promo__link-order {
  display: block;
  font-family: "Harmonia Sans Pro Cyr - SemiBd", Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 24px;
  font-size: 18px;
  text-decoration: none;
  color: #ff5912;
  position: absolute;
  bottom: 0;
  left: 120px;
}
.promo__link-order:hover .promo__order-text {
  color: #ff8f5f;
}

.promo__icon-order {
  fill: #ff5912;
}

.title__wrapper {
  margin: 0 auto;
  width: 1280px;
  padding-top: 100px;
  padding-bottom: 70px;
}

.title__heading {
  display: block;
  padding: 0;
  margin: 0;
  font-family: "Harmonia Sans Pro Cyr - Black", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 52px;
  font-size: 36px;
  text-transform: uppercase;
  color: #34404b;
  text-align: center;
}

.title__subtitle {
  display: block;
  margin: 0 auto;
  font-family: "Harmonia Sans Pro Cyr - Regular", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 30px;
  font-size: 16px;
  color: #495662;
  max-width: 600px;
  text-align: center;
}

.arrivals__inner {
  padding: 0;
  margin: 0;
  list-style: none;
  max-width: 1230px;
  min-width: 950px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 0;
  padding-bottom: 20px;
  box-sizing: border-box;
}

.arrivals__card {
  width: 270px;
  height: 365px;
  margin-right: 25px;
  margin-bottom: 25px;
}

.arrivals__more {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  position: relative;
  text-align: center;
  line-height: 60px;
  vertical-align: middle;
  background-color: #fff;
  margin: 0 auto;
  max-width: 1160px;
  min-width: 950px;
}
.arrivals__more-decor {
  width: 10px;
  height: 10px;
  background-color: #ff5912;
  display: inline-block;
  border-radius: 50%;
  position: relative;
}
.arrivals__more-decor:after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #ff5912;
  display: inline-block;
  border-radius: 50%;
  left: -20px;
}
.arrivals__more-decor:before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #ff5912;
  display: inline-block;
  border-radius: 50%;
  left: 20px;
}

.card {
  padding: 20px 25px;
  background-color: #fff;
  font-family: "Harmonia Sans Pro Cyr - Regular", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  font-size: 18px;
  color: #34404b;
  text-align: center;
  box-sizing: border-box;
  position: relative;
}
.card:hover, .card:focus {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
}
.card:hover .card__title, .card:focus .card__title {
  color: #ff5912;
  margin: 0;
  padding: 0;
  margin-bottom: 22px;
  margin-top: 0;
}
.card:hover .card__size, .card:focus .card__size {
  display: block;
  margin-bottom: 31px;
  margin-top: 0;
}
.card:hover .card__color, .card:focus .card__color {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
}
.card:hover .card__buttons, .card:focus .card__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card:hover .card__price, .card:focus .card__price {
  display: none;
}
.card:hover .card__img, .card:focus .card__img {
  width: 25%;
  height: auto;
  margin-bottom: 31px;
}

.card__size {
  display: none;
}

.card__color {
  width: 75px;
  display: none;
  margin: 0 auto;
}

.card__label-size {
  cursor: pointer;
}

.card__buttons {
  display: none;
  position: absolute;
  bottom: 16px;
  left: 50%;
  margin-left: -55px;
  width: 110px;
  color: #34404b;
}
.card__buttons::before {
  content: "";
  display: block;
  position: absolute;
  top: -17px;
  width: 170px;
  height: 1px;
  background-color: grey;
  left: 50%;
  margin-left: -85px;
  opacity: 0.3;
}

.card__price {
  color: #ff5912;
}

.card__add,
.card__like {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  display: block;
  cursor: pointer;
  box-sizing: border-box;
}

.card__label-color {
  display: block;
  width: 14px;
  height: 14px;
  cursor: pointer;
  border-radius: 50%;
}
.card__label-color[for=green] {
  background-color: #2fd967;
}
.card__label-color[for=red] {
  background-color: #e12e3f;
}
.card__label-color[for=black] {
  background-color: #000;
}
.card__label-color[for=blue] {
  background-color: #3ab3ff;
}

.advert__bar {
  display: flex;
  justify-content: space-between;
  min-width: 950px;
  max-width: 1160px;
  margin: 0 auto;
  margin-top: 20px;
  box-sizing: border-box;
}

.advert__link {
  width: 670px;
  height: 100px;
  border: 1px solid rgba(52, 64, 75, 0.05);
  background-color: #ffffff;
  display: block;
  text-align: left;
  text-decoration: none;
  padding-top: 10px;
  box-sizing: border-box;
  position: relative;
  background-image: url("../img/sale-50-icon.png");
  background-size: 80px 80px;
  background-position: 55px;
  background-repeat: no-repeat;
}

.advert__title {
  font-family: "Harmonia Sans Pro Cyr - Black", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 35px;
  font-size: 22px;
  padding: 0;
  margin: 0 auto;
  color: #34404b;
  margin-left: 180px;
}

.advert__text {
  font-family: "Harmonia Sans Pro Cyr - Regular", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 38px;
  font-size: 12px;
  padding: 0;
  margin: 0 auto;
  text-transform: capitalize;
  color: #495662;
  margin-left: 180px;
}

.advert__price-container {
  position: absolute;
  right: 70px;
  width: 83px;
  white-space: nowrap;
  top: 37px;
  display: flex;
  justify-content: space-between;
  font-family: "Harmonia Sans Pro Cyr - Black", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 32px;
  font-size: 22px;
  color: #ff5912;
  align-items: center;
  margin: 0;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .advert__link {
    background-image: url("../img/sale-50-icon@2x.png");
  }
}
.advert__vacant {
  height: 100px;
  width: 470px;
  background-color: #fff;
  text-align: center;
  vertical-align: middle;
  position: relative;
}
.advert__vacant-link {
  display: block;
  width: 100%;
  height: 100px;
  text-decoration: none;
}
.advert__vacant-link::before {
  content: "adv area";
  font-family: "Harmonia Sans Pro Cyr - Regular", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 16px;
  font-size: 16px;
  color: #34404b;
  display: inline-block;
  width: 100%;
  margin-top: 36px;
}
.advert__vacant-link::after {
  display: inline-block;
  width: 100%;
  content: "100 x 470";
  font-family: "Harmonia Sans Pro Cyr - Regular", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 16px;
  font-size: 12px;
  color: #34404b;
  opacity: 0.4;
}

.popular__inner {
  min-width: 950px;
  max-width: 1160px;
  margin: 0 auto;
  box-sizing: border-box;
}

.popular__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.popular__item {
  box-sizing: border-box;
  width: 360px;
  height: 160px;
  background-color: #fff;
  padding: 10px;
  margin: 0 15px 0 0;
  color: #34404b;
  font-family: "Harmonia Sans Pro Cyr - Regular", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 25px;
  font-size: 18px;
  margin-bottom: 25px;
}
.popular__item:hover, .popular__item:focus {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transform: scale(1.05);
}
.popular__item:hover .popular__rating {
  display: none;
}
.popular__item:hover .popular__price {
  display: none;
}
.popular__item:hover .popular__add {
  display: block;
}

.popular__link {
  float: left;
  display: block;
  margin-left: 15px;
  margin-top: 28px;
}

.popular__container {
  width: 210px;
  height: 70px;
  margin-left: 150px;
  position: relative;
}
.popular__container :before {
  content: "";
  display: block;
  position: absolute;
  width: 1px;
  height: 56px;
  background-color: #f5f5f6;
  left: -24px;
  top: 9px;
}

.popular__rating {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
  width: 100px;
  height: 25px;
  margin-right: 25px;
}

.popular__star {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url(../img/star-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
}

.popular__title {
  color: #34404b;
  margin: 0;
  padding: 0;
  margin-top: 40px;
  margin-bottom: 20px;
}

.popular__price {
  font-size: 16px;
  color: #ff5912;
  display: inline-block;
  font-weight: 700;
  vertical-align: text-bottom;
}

.popular__add {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 130px;
  height: 22px;
  display: none;
  margin-left: 25px;
}
.popular__add span {
  color: #ff5912;
}
.popular__add svg {
  width: 22px;
  height: 22px;
  margin-right: 5px;
}

.subs__wrapper {
  width: 1160px;
  height: 125px;
  padding: 35px 40px;
  box-sizing: border-box;
  margin-bottom: 158px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 120px;
  align-items: center;
  font-family: "Harmonia Sans Pro Cyr - Regular", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  font-size: 14px;
  font-style: italic;
  color: #34404b;
  background-color: #fff;
}

.subs__title {
  padding: 0;
  margin: 0 20px 0 0;
  font-size: 18px;
  text-transform: uppercase;
  font-style: normal;
  color: #ff5912;
}

.subs__form {
  position: relative;
}

.subs__icon {
  position: absolute;
  top: 18px;
  left: -20px;
}

.subs__text {
  padding: 0;
  margin: 0;
  margin-right: auto;
}

.subs__mail {
  width: 270px;
  height: 30px;
  padding-left: 10px;
  margin-right: 15px;
  border: none;
  display: inline-block;
}

.subs__submit {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  display: inline-block;
  width: 100px;
  height: 50px;
  font: inherit;
  color: #fff;
  font-style: normal;
  background-color: #ff5912;
}

.footer__wrapper {
  width: 1280px;
  min-height: 250px;
  box-sizing: border-box;
  padding-top: 90px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  font-family: "Harmonia Sans Pro Cyr - Regular", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 30px;
  font-size: 14px;
  color: #28313b;
  text-transform: lowercase;
  background-color: #fff;
}

.footer__logo-container {
  margin-right: 50px;
}

.footer__link-logo {
  display: block;
}
.footer__link-logo:active {
  opacity: 0.7;
}

.footer__links-item {
  width: 33.33%;
}
.footer__links-item:last-child {
  margin-right: auto;
}

.footer__logo-img {
  display: block;
}

.footer__links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
  width: 510px;
  height: 85px;
  margin: 0;
  margin-left: 100px;
  font: inherit;
}

.footer__link {
  color: inherit;
  text-decoration: none;
}
.footer__link:hover, .footer__link:focus {
  color: #ff5912;
}

.footer__payments-title {
  color: #ff5912;
  font-family: "Harmonia Sans Pro Cyr - SemiBd", Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 30px;
  font-size: 16px;
  text-transform: capitalize;
  padding: 0;
  margin: 0;
  margin-bottom: 5px;
}

.card-show__form {
  position: relative;
}

.card-show__wrapper {
  width: 1280px;
  padding: 50px 100px 50px;
  box-sizing: border-box;
  margin: 0 auto;
  line-height: 100%;
  background-color: #fff;
}

.card-show__img-container {
  width: 330px;
  display: inline-block;
  vertical-align: top;
  margin-right: 90px;
}

.card-show__img-box {
  display: inline-block;
}
.card-show__img-box--big {
  width: 100%;
  height: 345px;
}
.card-show__img-box--small {
  height: 70px;
  width: 95px;
  background-color: #f4f6f8;
  margin-right: 8px;
}
.card-show__img-box--small:hover {
  background-color: #ff5912;
}

.card-show__img {
  margin: 0 auto;
  display: block;
}

.card-show__description-container {
  width: 620px;
  display: inline-block;
  vertical-align: top;
}

.card-show__title {
  margin: 0;
  padding: 0;
  font-family: "Harmonia Sans Pro Cyr - Black", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 60px;
  font-size: 52px;
  text-transform: uppercase;
  color: #ff5912;
  text-align: left;
}

.card-show__subtitle {
  padding: 0;
  margin: 0;
  margin-bottom: 13px;
  font-family: "Harmonia Sans Pro Cyr - SemiBd", Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 30px;
  font-size: 18px;
  text-align: left;
  color: #3c4751;
}

.card-show__text {
  margin: 0;
  padding: 0;
  font-family: "Harmonia Sans Pro Cyr - Regular", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 30px;
  font-size: 16px;
  color: #495662;
  text-align: left;
}

.card-show__description-inner {
  border-top: 1px solid #edeff1;
  border-bottom: 1px solid #edeff1;
  margin-bottom: 75px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-show__size {
  margin: 0;
  padding: 0;
  width: 235px;
  font-family: "Harmonia Sans Pro Cyr - SemiBd", Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 30px;
  font-size: 18px;
  color: #34404b;
}
.card-show__size span {
  margin-right: 10px;
  display: inline-block;
}

.card-show__label-size {
  display: inline-block;
  margin-right: 5px;
  cursor: pointer;
  font-weight: 400;
  opacity: 0.9;
}

.card-show__quantity {
  margin: 0;
  padding: 0;
  width: 220px;
  font-family: "Harmonia Sans Pro Cyr - SemiBd", Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 30px;
  font-size: 18px;
  color: #34404b;
}
.card-show__quantity > span {
  margin-right: 40px;
  display: inline-block;
  vertical-align: top;
}

.card-show__counter-container {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.card-show__counter-add {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
}
.card-show__counter-add::after {
  content: "";
  width: 10px;
  background-color: #34404b;
  height: 2px;
  position: absolute;
  top: 15px;
  left: -20px;
}
.card-show__counter-add::before {
  content: "";
  background-color: #34404b;
  height: 10px;
  width: 2px;
  position: absolute;
  top: 11px;
  left: -16px;
}

.card-show__counter-field {
  color: #ff5912;
}

.card-show__counter-remove {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
}
.card-show__counter-remove::after {
  content: "";
  width: 10px;
  background-color: #34404b;
  height: 2px;
  position: absolute;
  top: -15px;
  left: 20px;
  cursor: pointer;
}

.card-show__order-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-show__price {
  font-family: "Harmonia Sans Pro Cyr - Black", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 30px;
  font-size: 20px;
  color: #34404b;
}

.card-show__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 125px;
  margin-right: 180px;
}

.card-show__add,
.card-show__like {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  display: block;
  cursor: pointer;
  box-sizing: border-box;
}

.card-show__submit {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  font-family: "Harmonia Sans Pro Cyr - SemiBd", Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 100%;
  font-size: 18px;
  color: #fff;
  width: 134px;
  height: 49px;
  border-radius: 25px;
  background-color: #ff5912;
  position: absolute;
  right: 10px;
  top: 180px;
}

.related__list {
  padding: 0;
  margin: 0 auto;
  list-style: none;
  width: 1230px;
  display: flex;
  justify-content: center;
  padding-left: 26px;
  margin-bottom: 120px;
}

.showcase-wrapper {
  margin: 0 auto;
  padding-top: 120px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  width: 1280px;
}

.showcase__inner {
  display: flex;
}

.showcase__filters {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 305px;
  font-family: "Harmonia Sans Pro Cyr - SemiBd", Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 50px;
  font-size: 16px;
  text-transform: capitalize;
  color: #34404b;
  margin-right: 30px;
}

.showcase__filter-group {
  display: block;
  padding: 40px;
  margin: 0;
  margin-bottom: 30px;
  background-color: #fff;
}

.showcase__filter-title {
  padding: 0;
  margin: 0;
  font-size: 18px;
  color: #ff5912;
}

.showcase__price-range-box {
  position: relative;
  padding-top: 40px;
}
.showcase__price-range-box::before {
  content: "100$";
  position: absolute;
  top: 0;
  left: 0;
}
.showcase__price-range-box::after {
  content: "1000$";
  position: absolute;
  top: 0;
  right: 0;
}

.showcase__price-range {
  width: 100%;
}

.showcase__price-inputs-box {
  display: flex;
  justify-content: space-between;
}

input[name=from],
input[name=to] {
  background-color: #edf0f2;
  width: 45px;
  height: 25px;
  margin-left: 20px;
}

.showcase__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 900px;
}

.showcase__card {
  width: 270px;
  height: 365px;
  margin-right: 25px;
  margin-bottom: 25px;
}

.showcase__button-box {
  width: 100%;
  padding-right: 20px;
}

.showcase__more {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  display: block;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  position: relative;
  text-align: center;
  line-height: 60px;
  vertical-align: middle;
  background-color: #fff;
  margin: 0 auto;
}
.showcase__more-decor {
  width: 10px;
  height: 10px;
  background-color: #ff5912;
  display: inline-block;
  border-radius: 50%;
  position: relative;
}
.showcase__more-decor:after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #ff5912;
  display: inline-block;
  border-radius: 50%;
  left: -20px;
}
.showcase__more-decor:before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #ff5912;
  display: inline-block;
  border-radius: 50%;
  left: 20px;
}

body {
  background-color: #f4f6f8;
}

/*# sourceMappingURL=style.css.map */
