@font-face {
  font-family: "Harmonia Sans Pro Cyr - Black";
  font-style: normal;
  font-weight: 400;
  src: local("Harmonia Sans Pro Cyr - Black"), local("HarmoniaSansProCyr-Black"), url("../fonts/HarmoniaSansProCyr-Black.woff2") format("woff2"), url("../fonts/HarmoniaSansProCyr-Black.woff") format("woff"), url("../fonts/HarmoniaSansProCyr-Black.ttf") format("truetype");
}
@font-face {
  font-family: "Harmonia Sans Pro Cyr - Bold";
  font-weight: 400;
  font-style: normal;
  src: local("HarmoniaSansProCyr-Bold"), local("Harmonia Sans Pro Cyr - Bold"), url("../fonts/HarmoniaSansProCyr-Bold.woff2") format("woff2"), url("../fonts/HarmoniaSansProCyr-Bold.woff") format("woff"), url("../fonts/HarmoniaSansProCyr-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Harmonia Sans Pro Cyr - Light";
  font-weight: 300;
  font-style: normal;
  src: local("HarmoniaSansProCyr-Light"), local("Harmonia Sans Pro Cyr - Light"), url("../fonts/HarmoniaSansProCyr-Light.woff2") format("woff2"), url("../fonts/HarmoniaSansProCyr-Light.woff") format("woff"), url("../fonts/HarmoniaSansProCyr-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Harmonia Sans Pro Cyr - Regular";
  font-weight: 400;
  font-style: normal;
  src: local("HarmoniaSansProCyr-Regular"), local("Harmonia Sans Pro Cyr - Regular"), url("../fonts/HarmoniaSansProCyr-Regular.woff2") format("woff2"), url("../fonts/HarmoniaSansProCyr-Regular.woff") format("woff"), url("../fonts/HarmoniaSansProCyr-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Harmonia Sans Pro Cyr - SemiBd";
  font-weight: 600;
  font-style: normal;
  src: local("HarmoniaSansProCyr-SemiBd"), local("Harmonia Sans Pro Cyr - SemiBd"), url("../fonts/HarmoniaSansProCyr-SemiBd.woff2") format("woff2"), url("../fonts/HarmoniaSansProCyr-SemiBd.woff") format("woff"), url("../fonts/HarmoniaSansProCyr-SemiBd.ttf") format("truetype");
}
.hovered-orange:hover {
  fill: #ff5912;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.current {
  color: #ff5912 !important;
}

.icon-path {
  fill: #34404b;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-header__contacts {
  border-bottom: 1px solid rgba(230, 232, 235, 0.5);
}

.main-header__socials {
  min-width: 100px;
  display: flex;
  justify-content: space-between;
}

.main-header__navbar {
  min-height: 85px;
  max-width: 1280px;
  min-width: 1050px;
  padding: 20px 40px;
  box-sizing: border-box;
  margin: 0 auto;
}

/*@media(min-width:1000px) {
	.main-header {
		background-image: url("../img/Product_1.png");
		background-repeat: no-repeat;
		background-size: 144px auto;
		background-position: center center;
	}

	@media(min-resolution:144dpi),
	(min-resolution:1.5dppx) {
		.main-header {
			background-image: url("../img/Product_1@2x.png");
		}
	}
}*/
.contacts__wrapper {
  padding: 20px 40px;
  min-width: 1050px;
  max-width: 1280px;
  box-sizing: border-box;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.contacts__container {
  min-width: 255px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts__mail-icon {
  width: 17px;
  height: 17px;
  position: absolute;
  left: 0;
  top: -3px;
}

.contacts__link {
  position: relative;
  padding-left: 27px;
  color: #34404b;
  font-family: "Harmonia Sans Pro Cyr - Regular", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 12px;
  font-size: 12px;
  text-decoration: none;
}
.contacts__link:hover .icon-path {
  fill: #ff5912;
}
.contacts__link:active {
  color: #c53b00;
}
.contacts__link:hover {
  text-decoration: underline;
  color: #ff5912;
}

.contacts__phone-icon {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 0;
  top: -2px;
}

.socials__link {
  display: block;
  width: 20px;
  height: 20px;
  text-align: center;
}
.socials__link:hover .icon-path {
  fill: #ff5912;
}

.navbar__list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__item {
  margin-right: 45px;
}
.navbar__item--user {
  margin-right: 0;
  margin-left: auto;
}

.navbar__link {
  font-family: "Harmonia Sans Pro Cyr - Regular", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 16px;
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  color: #34404b;
}
.navbar__link--logo:active {
  opacity: 0.7;
}
.navbar__link:hover {
  color: #ff5912;
}
.navbar__link:active {
  color: #c53b00;
}

.user {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: "Harmonia Sans Pro Cyr - Regular", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 30px;
  font-size: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 110px;
  margin-left: auto;
}

.user__search-submit,
.user__cart-btn {
  box-shadow: none;
  background-color: transparent;
  outline: 0;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
}
.user__search-submit:hover .icon-path,
.user__cart-btn:hover .icon-path {
  fill: #ff5912;
}

.user__cart-btn {
  position: relative;
}
.user__cart-btn::after {
  content: "5";
  width: 18px;
  height: 18px;
  background-color: #ff5912;
  display: block;
  position: absolute;
  text-align: center;
  vertical-align: middle;
  color: #fff;
  border-radius: 50%;
  line-height: 18px;
  top: -21px;
}

.user__link:hover .icon-path {
  fill: #ff5912;
}

.promo__inner {
  width: 570px;
  margin-left: 100px;
  position: relative;
}

.promo__carousel-inner {
  height: 649px;
  max-width: 1280px;
  min-width: 1050px;
  margin: 0 auto;
}

.promo__title {
  min-height: 37px;
  color: #ff5912;
  font-family: "Harmonia Sans Pro Cyr - Black", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 70px;
  font-size: 52px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.promo__stuff {
  font-family: "Harmonia Sans Pro Cyr - SemiBd", Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 30px;
  font-size: 18px;
  color: #3c4751;
  padding: 0;
  margin: 0;
}

.promo__text {
  font-family: "Harmonia Sans Pro Cyr - Regular", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 30px;
  font-size: 16px;
  color: #495662;
  padding: 0;
  margin: 0;
}

.promo__img {
  width: 798px;
  height: 649px;
  position: absolute;
  right: 0;
  top: 0;
}

.promo__carousel-item {
  align-items: center;
  height: 649px;
}

.promo__carousel-item.active {
  align-items: center;
  display: flex;
  height: 649px;
}

.promo__container-price {
  font-family: "Harmonia Sans Pro Cyr - SemiBd", Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 23px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  color: #34404b;
  min-width: 95px;
  max-width: 100px;
  margin: 0;
  padding: 0;
  margin-top: 40px;
}

.promo__price-value,
.promo__price-termin {
  display: block;
  padding: 0;
  margin: 0;
  margin-right: 7px;
}

.promo__link-order {
  display: block;
  font-family: "Harmonia Sans Pro Cyr - SemiBd", Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 24px;
  font-size: 18px;
  text-decoration: none;
  color: #ff5912;
  position: absolute;
  bottom: 0;
  left: 120px;
}
.promo__link-order:hover .promo__order-text {
  color: #ff8f5f;
}

.promo__icon-order {
  fill: #ff5912;
}

/*# sourceMappingURL=style.css.map */
