@mixin fontRegular($fontSize, $lineHeight) {
	font-family: "Harmonia Sans Pro Cyr - Regular", Arial, sans-serif;
	font-weight: 400;
	font-style: normal;
	line-height: $lineHeight;
	font-size: $fontSize;
}

@mixin ulReset {
	padding: 0;
	margin: 0;
	list-style: none;
}
