article.advert
	div.advert__bar
		aside.advert__container
			a.advert__link(href="#" aria-label="winter kit buy")
				p.advert__title FULL WINTER KIT
				p.advert__text Half Jacket + Skiny Trousers + Boot leather
				p.advert__price-container
					svg(width="22" height="22")
						use(xlink:href="#add-to-cart-icon" style="fill:#ff5912;")
					span.advert__price-value 120$
		aside.advert__vacant
			a.advert__vacant-link(href="#")
				