footer.footer.footer__wrapper
	div.footer__logo-container
		a.footer__link-logo(href="#" aria-label="home link")
			picture
				source(type="image/webp" srcset="img/logo-desktop.webp, img/logo-desktop@2x.webp 2x")
				img(class="footer__logo-img" alt="shopy logo" src="img/logo-desktop.png, img/logo-desktop@2x.png 2x")
		span.footer__copyright shopy c 2015. your copy right here
	ul.footer__links
		li.footer__links-item
			a.footer__link(href='#') about us
		li.footer__links-item
			a.footer__link(href='#') our feed
		li.footer__links-item
			a.footer__link(href='#') join us
		li.footer__links-item
			a.footer__link(href='#') contact us
		li.footer__links-item
			a.footer__link(href='#') terms and conditions
		li.footer__links-item
			a.footer__link(href='#') 	live support
		li.footer__links-item
			a.footer__link(href='#') support
		li.footer__links-item
			a.footer__link(href='#') our privacy
	div.footer__payments-container
		h4.footer__payments-title Payment Methods
		img.footer__payments-img(src="img/payment.png" srcset="img/payment@2x.png 2x")
			