nav.navbar.main-header__navbar
	ul.navbar__list
		//item-logo
		li.navbar__item
			a.navbar__link.navbar__link--logo(href="card.html" aria-label="home link")
				picture
					source(type="image/webp" srcset="img/logo-desktop.webp, img/logo-desktop@2x.webp 2x")
					img(class="navbar__logo-img" alt="shopy logo" src="img/logo-desktop.png, img/logo-desktop@2x.png 2x")
		//item
		li.navbar__item
			a.navbar__link.current(href="index.html") home
		//item
		li.navbar__item
			a.navbar__link(href="products.html") products
		//item
		li.navbar__item
			a.navbar__link(href="#") hot deals
		//item
		li.navbar__item
			a.navbar__link(href="#") about
		//item
		li.navbar__item
			a.navbar__link(href="#") contact
		//item-user-block
		li.navbar__item.navbar__item--user
			include user.pug