section.popular
	div.popular__inner
		+title("BEST SALES","Lorem Ipsum is simply dummy text of the printing and typesetting industry")
		ul.popular__list
			li.popular__item
				a.popular__link.clearfix(href="#")
					img.popular__img(width="89" height="90" srcset="img/Product_sales.png, img/Product_sales@2x.png 2x" alt="best sales product")
				div.popular__container
					h4.popular__title Reebok Track Jacket
					ul.popular__rating
						li.popular__star(tabindex="0" class="popular__ratin-1")
						li.popular__star(tabindex="0" class="popular__ratin-2")
						li.popular__star(tabindex="0" class="popular__ratin-3")
						li.popular__star(tabindex="0" class="popular__ratin-4")
						li.popular__star(tabindex="0" class="popular__ratin-5")
					span.popular__price 100$
					button.popular__add(type="button")
						svg
							use(style="fill: #ff5912;" xlink:href="#add-to-cart-icon")
						span add to cart
			li.popular__item
				a.popular__link.clearfix(href="#")
					img.popular__img(width="89" height="90" srcset="img/Product_sales.png, img/Product_sales@2x.png 2x" alt="best sales product")
				div.popular__container
					h4.popular__title Reebok Track Jacket
					ul.popular__rating
						li.popular__star(tabindex="0" class="popular__ratin-1")
						li.popular__star(tabindex="0" class="popular__ratin-2")
						li.popular__star(tabindex="0" class="popular__ratin-3")
						li.popular__star(tabindex="0" class="popular__ratin-4")
						li.popular__star(tabindex="0" class="popular__ratin-5")
					span.popular__price 100$
					button.popular__add(type="button")
						svg
							use(style="fill: #ff5912;" xlink:href="#add-to-cart-icon")
						span add to cart
			li.popular__item
				a.popular__link.clearfix(href="#")
					img.popular__img(width="89" height="90" srcset="img/Product_sales.png, img/Product_sales@2x.png 2x" alt="best sales product")
				div.popular__container
					h4.popular__title Reebok Track Jacket
					ul.popular__rating
						li.popular__star(tabindex="0" class="popular__ratin-1")
						li.popular__star(tabindex="0" class="popular__ratin-2")
						li.popular__star(tabindex="0" class="popular__ratin-3")
						li.popular__star(tabindex="0" class="popular__ratin-4")
						li.popular__star(tabindex="0" class="popular__ratin-5")
					span.popular__price 100$
					button.popular__add(type="button")
						svg
							use(style="fill: #ff5912;" xlink:href="#add-to-cart-icon")
						span add to cart
		