div.subs.subs__wrapper
	h3.subs__title NEWS LETTER
	p.subs__text join us now to get all news and special offers
	form.subs__form(action="#" method="post")
		svg.subs__icon(width="17" height="17")
			use(xlink:href="#mail-icon" style="fill:#ff5912;")
		input.subs__mail(type="email" name="email" placeholder="type your email here")
		button.subs__submit(type="submit") join us