doctype html
html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css")
		link(rel="stylesheet" href="css/style.css")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/picturefill/3.0.2/picturefill.min.js")
		title CARD ShopyShop
	body
		include includes/mixins.pug
		include ../img/sprite.svg
		header.main-header
			include includes/contacts.pug
			include includes/navbar.pug
		main.content
			h1.visually-hidden shoppy the Eshop card showcase
			include includes/card-show.pug
			include includes/related.pug
			include includes/subs.pug
		include includes/footer.pug