doctype html
html
	head
		link(rel="stylesheet" href="css/style.css")
	body
		h1 welcome to D code
		p.
			this is a p tag and lorsem asd 
			this is a p tag and lorem asd
		ul
			li item #1
			li item #2
			li item #3
		h2#pageTitle page title goes here!
		p.big-para. 
			here is some text
			for my paragraph.
		p.big-para.
			here is some MORE text for 
			my paragraph!
		.display-box
		input(name="blackTea" type="checkbox" id="blckTea")
		include includes/nav.pug