.advert__bar {
	display: flex;
	justify-content: space-between;
	min-width: 950px;
	max-width: 1160px;
	margin: 0 auto;
	margin-top: 20px;
	box-sizing: border-box;
}

.advert__link {
	width: 670px;
	height: 100px;
	border: 1px solid rgba(52, 64, 75, 0.05);
	background-color: #ffffff;
	display: block;
	text-align: left;
	text-decoration: none;
	padding-top: 10px;
	box-sizing: border-box;
	position: relative;
	background-image: url("../img/sale-50-icon.png");
	background-size: 80px 80px;
	background-position: 55px;
	background-repeat: no-repeat;
}

.advert__title {
	@include fontBlack(22px, 35px);
	padding: 0;
	margin: 0 auto;
	color: #34404b;
	margin-left: 180px;
}

.advert__text {
	@include fontRegular(12px, 38px);
	padding: 0;
	margin: 0 auto;
	text-transform: capitalize;
	color: #495662;
	margin-left: 180px;
}

.advert__price-container {
	position: absolute;
	right: 70px;
	width: 83px;
	white-space: nowrap;
	top: 37px;
	display: flex;
	justify-content: space-between;
	@include fontBlack(22px, 32px);
	color: $orange;
	align-items: center;
	margin: 0;
}

@media(min-resolution: 144dpi),
(min-resolution:1.5dppx) {
	.advert__link {
		background-image: url("../img/sale-50-icon@2x.png");

	}
}

.advert__vacant {
	height: 100px;
	width: 470px;
	background-color: #fff;
	text-align: center;
	vertical-align: middle;
	position: relative;

	&-link {
		display: block;
		width: 100%;
		height: 100px;
		text-decoration: none;

		&::before {
			content: "adv area";
			@include fontRegular(16px, 16px);
			color: #34404b;
			display: inline-block;
			width: 100%;
			margin-top: 36px;
		}

		&::after {
			display: inline-block;
			width: 100%;
			content: "100 x 470";
			@include fontRegular(12px, 16px);
			color: #34404b;
			opacity: 0.4;
		}
	}
}
