//CARD MAIN STYLES
.card {
	padding: 20px 25px;
	background-color: #fff;
	@include fontRegular(18px, 24px);
	color: #34404b;
	text-align: center;
	box-sizing: border-box;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	&:hover,
	&:focus {
		box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
		transform: scale(1.05);

	}

	//title
	&:hover .card__title,
	&:focus .card__title {
		color: $orange;
		margin: 0;
		padding: 0;
		margin-bottom: 31px;
		margin-top: 0;
	}

	//size
	&:hover .card__size,
	&:focus .card__size {
		display: block;
		margin-bottom: 31px;
		margin-top: 0;
	}

	//color
	&:hover .card__color,
	&:focus .card__color {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 0;
	}

	//buttons
	&:hover .card__buttons,
	&:focus .card__buttons {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	//price
	&:hover .card__price,
	&:focus .card__price {
		display: none;
	}

	//img
	&:hover .card__img,
	&:focus .card__img {
		width: 25%;
		height: auto;
		margin-bottom: 31px;
	}
}

//---------------
.card__size {
	display: none;
}

.card__color {
	width: 75px;
	display: none;
}

.card__label-size {
	cursor: pointer;
}

.card__buttons {
	display: none;
	position: absolute;
	bottom: 27px;
	left: 50%;
	margin-left: -55px;
	width: 110px;
	color: #34404b;

	&::before {
		content: "";
		display: block;
		position: absolute;
		top: -17px;
		width: 170px;
		height: 1px;
		background-color: grey;
		left: 50%;
		margin-left: -85px;
		opacity: 0.3;
	}
}

.card__price {
	color: $orange;
}

.card__add,
.card__like {
	cursor: pointer;
	@include buttonReset;
}

.card__label-color {
	display: block;
	width: 14px;
	height: 14px;
	cursor: pointer;
	border-radius: 50%;

	&[for="green"] {
		background-color: #2fd967;
	}

	&[for="red"] {
		background-color: #e12e3f;
	}

	&[for="black"] {
		background-color: #000;
	}

	&[for="blue"] {
		background-color: #3ab3ff;
	}
}
