.contacts__wrapper {
	padding: 20px 40px;
	min-width: 1050px;
	max-width: 1280px;
	box-sizing: border-box;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
}

.contacts__container {
	min-width: 255px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.contacts__mail-icon {
	width: 17px;
	height: 17px;
	position: absolute;
	left: 0;
	top: -3px;
}

.contacts__link {
	position: relative;
	padding-left: 27px;
	color: #34404b;
	@include fontRegular(12px, 12px);
	text-decoration: none;
	background-image: url("../img/twitter.svg");
	background-size: 24px 24px;
	background-repeat: no-repeat;
	background-position: center center;

	&:hover .icon-path {
		fill: $orange;
	}

	&:active {
		color: $orangeActive;
	}

	&:hover {
		text-decoration: underline;
		color: $orange;
	}
}

.contacts__phone-icon {
	width: 15px;
	height: 15px;
	position: absolute;
	left: 0;
	top: -2px;
}
