.main-header__socials {
	min-width: 100px;
	display: flex;
	justify-content: space-between;
}

.main-header__navbar {
	min-height: 85px;
	width: 1280px;
	padding: 20px 40px;
	box-sizing: border-box;
	margin: 0 auto;
	background-color: #fff;
	border-bottom: 1px solid rgba(#e6e8eb, 50%);
}























/*@media(min-width:1000px) {
	.main-header {
		background-image: url("../img/Product_1.png");
		background-repeat: no-repeat;
		background-size: 144px auto;
		background-position: center center;
	}

	@media(min-resolution:144dpi),
	(min-resolution:1.5dppx) {
		.main-header {
			background-image: url("../img/Product_1@2x.png");
		}
	}
}*/
