.navbar__list {
	@include ulReset;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar__item {
	margin-right: 45px;

	&--user {
		margin-right: 0;
		margin-left: auto;
	}
}

.navbar__link {
	@include fontRegular(16px, 16px);
	text-transform: capitalize;
	text-decoration: none;
	color: #34404b;

	&--logo:active {
		opacity: 0.7;
	}

	&:hover {
		color: $orange;
	}

	&:active {
		color: $orangeActive;
	}
}
